/* Styling for cards which contain the topics (top-left) */
.roundedBubble {
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
}

/* Styling to make the result card slightly rounded (top-right) */
.roundinator {
  border-radius: 15px;
  animation-name: bounceIn;
  animation-duration: 0.5s;
}

/* Styling for analyzed text within the result card (top-right) */
.roundedHighlight {
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 0px 2px 0px 2px;
}

/* Styling for the upload file button */
#upload-file {
  background-color: white;
}

/* Styling to make the textarea slightly rounded (mid-center) */
#abstractInput {
  border-radius: 15px;
  animation-name: bounceIn;
  animation-duration: 0.5s;
}

/* Styling for the placeholder text within the textarea */
::placeholder {
  font-size: 1.5em;
  text-align: center;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  /* 
    50% {
      transform: scale(1.05);
      opacity: 1;
    } */

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.invis {
  opacity: 0;
}

.animateBubble {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1 !important;
  }
}

/* Not used */
.roundButton {
  border-radius: 15px !important;
}

/* ------------------------------- */

.topic_0 {
  background-color: #3de089;
}

.topic_1 {
  background-color: rgb(139, 192, 236);
}

.topic_2 {
  background-color: #ff7046;
}

.topic_3 {
  background-color: #ffc046;
}

.topic_4 {
  background-color: #e4aad1;
}

.topic_5 {
  background-color: rgb(4, 166, 253);
}

.topic_6 {
  background-color: rgba(243, 169, 8, 0.356);
}

.topic_7 {
  background-color: rgb(224, 248, 6);
}

.topic_8 {
  background-color: rgb(122, 12, 247);
}

.topic_9 {
  background-color: rgb(250, 49, 206);
}

.topic_10 {
  background-color: rgb(7, 31, 248);
}

.topic_11 {
  background-color: rgb(255, 7, 7);
}

.topic_12 {
  background-color: rgb(0, 255, 21);
}

.topic_13 {
  background-color: rgb(255, 255, 255);
}

.topic_14 {
  background-color: rgba(175, 193, 202, 0.438);
}

.topic_15 {
  background-color: rgb(255, 255, 255);
}

.colorSpace {
  background-color: None;
}

.bg-1 {
  background-color: #0c1218;
}

.bg-2 {
  background-color: ivory;
}

.bg-3 {
  background-color: #251511;
  color: seashell;
}
